/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
  
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  display: flex;
  padding: 25px;
  min-height: 100vh;
  justify-content: center;
  background: lightpink;
  flex-direction: column;
}
#loading_page {
  background-color:white;
  position:absolute;
  left:-100%;
  top:0;
  width:100%;
  height:100vh;
  z-index: 100;
  transition:.5s;
  display: grid;
  place-content: center;
  align-items: center;
}
#loading_page img {
  max-width:268px;
}
#back_btn {
  font-size:1.2rem;
  padding:14px;
  background-color:grey;
}
#first_page {
  display:flex;
  color:white;
  background-color:lightblue;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height: 100vh;
  text-align: center;
}
#first_page h1 {
  display:block;
  font-size:76px;
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%, -50%);
}
#first_page a {
  font-size:1.4rem;
  text-decoration: underline;
  cursor:pointer;
}
#first_page span {
  font-size:15px;
}
.button {
  text-align: center;
  width:100%;
  height:1.2rem;
  overflow: hidden;
  margin:2.5px;
}
#back_btn {
  font-size:14px;
  color:black;
  background-color: white;
  opacity: .3;
  text-decoration: underline;
  cursor:pointer;
}
.wrapper{
  display: flex;
  max-width: 900px;
  position: relative;
  margin-bottom:4rem;
  height:340px;
  
}
.wrapper i{
  top:50%;
  height: 44px;
  width: 44px;
  color: #343F4F;
  cursor: pointer;
  font-size: 1.15rem;
  position: absolute;
  text-align: center;
  line-height: 44px;
  background: #fff;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper i:active{
  transform: translateY(-50%) scale(0.9);
}
.wrapper i:hover{
  background: #f2f2f2;
}
.wrapper i:first-child{
  left: -22px;
  display: none;
}
.wrapper i:last-child{
  right: -22px;
}
.wrapper .carousel{
  font-size: 0px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
}
.carousel.dragging{
  cursor: grab;
  scroll-behavior: auto;
}
.carousel.dragging img{
  pointer-events: none;
}
.carousel img{
  height: 340px;
  object-fit: cover;
  user-select: none;
  margin-left: 14px;
  width: calc(100% / 3);
  border-radius:8px;
}
.carousel img:first-child{
  margin-left: 0px;
}
.letter div {
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color:#333;
  background-color: white;
}
.letter {
  border:1px solid lightnblue;
  border-radius:4px;
  overflow:hidden;
  place-content: center;
  padding:1.2rem;
}
.letter h2 {
  font-family: 'Cedarville Cursive', cursive;
  margin:0;
  padding:0;
  color:#FCAEAE;
  font-size:3rem;
}
.letter p {
  padding:.75rem;
}
.container {
  background-color: white;
  border-radius:8px;
  padding:.3rem;
  display:none;
  text-align: center;
  
}
.letter .footer {
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding:0;
  margin:0;
}
.letter .footer p{
  font-family: 'Montserrat', sans-serif;
  font-weight:bold;
}


@media screen and (max-width: 900px) {
  .carousel img{
    width: calc(100% / 2);
  }
  

@media screen and (max-width: 550px) {
  .carousel img{
    width: 100%;
  }
}